<div layout="row"
     layout-xs="column"
     flex="100"
     ng-init="BookCreateCtrl.init()">
  <div flex="50"
       layout-margin
       flex-xs="100"
       flex-offset-gt-xs="10"
       class="column-list">
    <div flex="100"
         class="column column-all first-column"
         layout-align="center center">
      <form class="form-container" novalidate>
        <h1>Novo Livro :)</h1>
        <br>

        <div class="form-image">
          <div class="feed-profile">
            <div class="feed-profile-picture">
              <img ng-src="{{BookCreateCtrl.book.cover_image}}">
            </div>
            <div class="feed-profile-username">
              <p class="username" ng-bind="BookCreateCtrl.book.username"></p>
              <input class="btn btn-default"
                     type="file"
                     style="max-width: 150px"
                     id="trigger"
                     onchange="angular.element(this).scope().setFile(this)"
                     accept="image/*"/>
            </div>
          </div>
        </div>
        <md-chips ng-model="BookCreateCtrl.lstKeyWords"
                  md-autocomplete-snap
                  md-transform-chip="BookCreateCtrl.transformChip($chip)"
                  md-require-match flex>
          <md-autocomplete flex
                           md-selected-item="student"
                           md-search-text="searchText"
                           md-items="item in BookCreateCtrl.querySearch(searchText)"
                           md-item-text="item"
                           placeholder="Palavra chave">
            <span md-highlight-text="searchText">{{ item }}</span>
          </md-autocomplete>
          <md-chip-template>
                    <span>
                        <strong>{{$chip}}</strong><em></em>
                    </span>
          </md-chip-template>
        </md-chips>

        <div class="form-group"
             ng-class="{ 'has-error': BookCreateCtrl.hasError('title') }">
          <input type="text"
                 ng-model="BookCreateCtrl.book.title"
                 name="txtTitle"
                 id="txtTitle"
                 required="required"/>
          <label class="control-label"
                 ng-class="{ 'has-error': BookCreateCtrl.hasError('title') }"
                 for="txtTitle">Título
          </label><i class="bar"></i>
          <p class="field-err" ng-if="BookCreateCtrl.hasError('title')" >{{BookCreateCtrl.getErrorMessage('title')}}</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': BookCreateCtrl.hasError('subtitle') }">
          <input type="text"
                 ng-model="BookCreateCtrl.book.subtitle"
                 name="txtSubTitle"
                 id="txtSubTitle"
                 required="required"/>
          <label class="control-label"
                 ng-class="{ 'has-error': BookCreateCtrl.hasError('subtitle') }"
                 for="txtSubTitle">Subtítulo
          </label><i class="bar"></i>
          <p class="field-err" ng-if="BookCreateCtrl.hasError('subtitle')" >{{BookCreateCtrl.getErrorMessage('subtitle')}}</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': BookCreateCtrl.hasError('synopsis') }">
          <textarea type="text"
                 ng-model="BookCreateCtrl.book.synopsis"
                 name="txtSynopsis"
                 id="txtSynopsis"
                 required="required"></textarea>
          <label class="control-label"
                 ng-class="{ 'has-error': BookCreateCtrl.hasError('synopsis') }"
                 for="txtSynopsis">Sinopse
          </label><i class="bar"></i>
          <p class="field-err" ng-if="BookCreateCtrl.hasError('synopsis')" >{{BookCreateCtrl.getErrorMessage('synopsis')}}</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': BookCreateCtrl.hasError('esbn') }">
          <input type="text"
                 ng-model="BookCreateCtrl.book.esbn"
                 name="txtESBN"
                 id="txtESBN"
                 required="required"/>
          <label class="control-label"
                 ng-class="{ 'has-error': BookCreateCtrl.hasError('esbn') }"
                 for="txtESBN">ESBN
          </label><i class="bar"></i>
          <p class="field-err" ng-if="BookCreateCtrl.hasError('esbn')" >{{BookCreateCtrl.getErrorMessage('esbn')}}</p>
        </div>

        <div class="form-group">
          <select ng-options="o.desc for o in BookCreateCtrl.cbei18n"
                  ng-model="BookCreateCtrl.selectedI18n"
                  name="cbeLanguage"
                  id="cbeLanguage">
          </select>
          <label class="control-label"
                 for="cbeLanguage">Idioma</label>
          <i class="bar"></i>
        </div>
        <md-input-container
          flex="100"
          layout="row">
          <div flex="100" >
            <span >Concluido {{ BookCreateCtrl.book.percentage}}%</span>
            <md-slider flex class="md-primary"
                       ng-model="BookCreateCtrl.book.percentage"
                       step="1" min="0" max="100" aria-label="Percentual"></md-slider>
          </div>
        </md-input-container>



        <!--<div class="form-group">
          <select ng-options="o.desc for o in BookCreateCtrl.cbeStatus"
                  ng-model="BookCreateCtrl.selectedStatus"
                  name="cbeStatus"
                  id="cbeStatus">
          </select>
          <label class="control-label"
                 for="cbeStatus">Status</label>
          <i class="bar"></i>
        </div>-->

        <div class="form-group">
          <select ng-options="o.desc for o in BookCreateCtrl.cbeVisible"
                  ng-model="BookCreateCtrl.selectedVisible"
                  name="cbeVisible"
                  id="cbeVisible">
          </select>
          <label class="control-label"
                 for="cbeVisible">Visivel</label>
          <i class="bar"></i>
        </div>

        <fieldset>
          <legend>Preço</legend>
          <br/>
          <md-checkbox md-no-ink aria-label="Gratuito" ng-model="BookCreateCtrl.noPrice" class="md-primary">
            Gratuito
          </md-checkbox>

          <md-input-container
            ng-show="!BookCreateCtrl.noPrice"
            flex="100"
            layout="row">
            <div flex="100" >
              <span >Sugerido: {{ BookCreateCtrl.price.suggested|currency:'R$ '}}</span>
              <md-slider flex class="md-primary"
                         ng-model="BookCreateCtrl.price.suggested"
                         step="1" min="0" max="999" aria-label="Sugerido"></md-slider>
            </div>
          </md-input-container>

          <md-input-container
            ng-show="!BookCreateCtrl.noPrice"
            flex="100"
            layout="row">
            <div flex="100" >
              <span >Mínimo: {{ BookCreateCtrl.price.minimum|currency:'R$ '}}</span>
              <md-slider flex class="md-primary"
                         ng-model="BookCreateCtrl.price.minimum"
                         step="1" min="0" max="{{BookCreateCtrl.price.suggested}}" aria-label="Mínimo"></md-slider>
            </div>
          </md-input-container>
          <br/>
          <md-checkbox
            ng-show="!BookCreateCtrl.noPrice"
            md-no-ink aria-label="Gratuito"
            ng-model="BookCreateCtrl.noOff"
            class="md-primary">
            Promoção
          </md-checkbox>
          <md-input-container
            ng-show="BookCreateCtrl.noOff"
            flex="100"
            layout="row">
            <div flex="100" >
              <span >Sugerido: {{ BookCreateCtrl.promotion.suggested|currency:'R$ '}}</span>
              <md-slider flex class="md-primary"
                         ng-model="BookCreateCtrl.promotion.suggested"
                         step="1" min="0" aria-label="Sugerido"></md-slider>
            </div>
          </md-input-container>

          <md-input-container
            ng-show="BookCreateCtrl.noOff"
            flex="100"
            layout="row">
            <div flex="100" >
              <span >Mínimo: {{ BookCreateCtrl.promotion.minimum|currency:'R$ '}}</span>
              <md-slider flex class="md-primary"
                         ng-model="BookCreateCtrl.promotion.minimum"
                         step="1" min="0" max="{{BookCreateCtrl.promotion.suggested}}" aria-label="Mínimo"></md-slider>
            </div>
          </md-input-container>

        </fieldset>

        <div class="button-group">
          <button
            class="btn full btn-info-inverted"
            ng-click="BookCreateCtrl.btnCreate()">Publicar</button>
        </div>
      </form>

    </div>
  </div>
  <div flex="35"
       flex-xs="100"
       layout-margin
       class="trends"
       data-scroll="dock"
       ng-include="'views/trends.view.html'">
  </div>
</div>
<script type="text/javascript">
  $('textarea').autogrow();
</script>
