<div class="feed-notices">
  <div class="shop-grid">
    <ul>
      <li ng-repeat="r in StoreCtrl.books">
        <div class="shop-item">
          <div class="shop-book">

            <a href="#/notice">
              <div class="shop-image-box">
                <img class="shop-cover" ng-src="{{ r.cover_image }}" />
                <a ng-click="StoreCtrl.btnShowDetail(r)" class="shop-more">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </div>
              <p class="name link-default" ng-bind="r.title"></p>
              <p class="username link-tiny" ng-bind="r.username">@AnaMary</p>
            </a>
            <a class="btn btn-primary btn-buy" href="#">
              Comprar
            </a>
          </div>

        </div>
        <div class="shop-book-detail"
             ng-show="__showModal"
             id="book-{{r._id}}">
          <div class="notice-user">
            <div class="user-picture">
              <a href="#">
                <img src="./static/images/image (12).jpg">
              </a>
            </div>
            <div class="user-name">
              <a href="#/notice" class="name link-default">J. R. R. Tolkien</a>
              <p class="time">Dom, 10 de Jul 17:02</p>
              <a class="btn btn-primary btn-follow" href="#">
                Comprar
              </a>
            </div>
            <div class="user-options">
              <a ng-click="StoreCtrl.btnCloseDetail(r._id)">
                <i class="fa fa-times fa-lg"  style="color: #00AB6B;" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="synopsis">
            <p ng-bind="StoreCtrl.book.synopsis"></p>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
<div class="trends" data-scroll="dock"
     ng-include="'views/trends.view.html'">

</div>
