<div layout="row"
     layout-xs="column"
     flex="100"
     ng-init="StoreCtrl.init()">
  <div flex="95"
       layout-margin
       class="column-list grid">
    <div flex="100"
         id="shop-book-{{ $index }}"

         class="column column-little grid-item"
         layout-align="center center"
         ng-repeat="r in StoreCtrl.books">
      <div class="notice-image">
        <div class="shop-image-box">
          <img class="shop-cover" ng-src="{{ r.cover_image  || './static/images/no-image.png' }}" />
          <a ng-click="StoreCtrl.btnShowDetail($event, r)" class="shop-more">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="notice-user"
           layout="row">
        <div flex="30"
             flex-xs="30"
             class="user-picture">
          <a ng-href="#/user/{{ r.user.username }}">
            <img ng-src="{{ r.user.cover_image || './static/images/no-image.png' }}">
          </a>
        </div>
        <div flex="70"
             flex-xs="80"
             class="user-name">
          <a ng-href="#/user/{{ r.user.username }}" class="name link-default">{{ r.user.name }}</a>
          <a ng-href="#/user/{{ r.user.username }}" class="username link-tiny">@{{ r.user.username }}</a>
        </div>

      </div>
      <div class="notice-content"
           layout="column">
        <div flex="100"
             ng-show="r.keywords.length">
          <div class="tiny-chip">
            <md-chips ng-model="r.keywords" readonly="true" md-removable="false">
              <md-chip-template style="padding: 0">
                <span style="font-size: .75rem">{{$chip.content|titleCase}}</span>
              </md-chip-template>
            </md-chips>
          </div>
        </div>

        <div flex="100">
          <h3 class="title"
              style="margin-left: .625rem; margin-right: .625rem; text-align:center">
            <a ng-href="#/books/{{ r._id  }}"
               class="link-title"
               ng-bind="r.title"></a>
          </h3>
        </div>
        <div flex="100"
             layout-margin>
          <h4 class="title" ng-bind="r.subtitle"></h4>

        </div>
        <div flex="100">
          <div flex="100"
               ng-show="r.prices.length"
               style="margin-left: .625rem; margin-right: .625rem "
               layout="row">
            <div flex>
              <p class="price-value">R$ {{StoreCtrl.getMinPrice(r.prices) | number:2}} -
                {{StoreCtrl.getSugPrice(r.prices) | number:2}}</p>
            </div>
          </div>
          <div flex="100"
               ng-show="!r.prices.length"
               style="margin-left: .625rem; margin-right: .625rem"
               layout="row">
            <div flex>
              <p class="price-value">Gratuito</p>
            </div>
          </div>
        </div>
        <div flex="100"
             layout-padding>
          <a class="btn btn-primary-inverted full"
             ng-click="StoreCtrl.btnAddBasket(r._id, StoreCtrl.getSugPrice(r.prices))">Comprar</a>
        </div>
      </div>
      <div class="notice-options"
           layout="row">
        <div flex="50">
          <a ng-href="#/books/{{ r._id }}?tab=2"
             class="btn-like">
            <i class="fa fa-star fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
            {{ r.average_star }}
          </a>
        </div>
        <div flex="50">
          <a ng-href="#/books/{{ r._id }}?tab=3" class="btn-comment">
            <i class="fa fa-comments fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
            {{ r.comments.length }}
          </a>
        </div>
      </div>
    </div>
    <div class="column column-all" ng-show="!StoreCtrl.books.length">
      <div class="notice-content">
        <h3 class="title">
          Não temos nada pra exibir aqui ainda :(
        </h3>
      </div>
    </div>

    <div class="column column-all more-data">
      <a class="btn btn-default full" ng-click="StoreCtrl.btnLoadMore()">Mais</a>

    </div>
  </div>
  <!--<div flex="35"
       flex-xs="100"
       layout-margin
       class="trends"
       data-scroll="dock"
       ng-include="'views/trends.view.html'">
  </div>-->
</div>

<style type="text/css">
  .md-dialog-container {
    position: fixed;
  }

  md-dialog {
    max-width: 90%;
    max-height: 90%;
  }
</style>



<!--<div class="feed-notices" ng-init="StoreCtrl.init()">
  <ul>
    <li ng-repeat="r in StoreCtrl.books">
      <div  class="column column-half">
        <div class="notice-image">
          <div class="shop-image-box">
            <img class="shop-cover" ng-src="{{ r.cover_image  || './static/images/no-image.png' }}" />
            <a ng-click="StoreCtrl.btnShowDetail(r._id)" class="shop-more">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="notice-user">
          <div class="user-picture">
            <a ng-href="#/users/{{ r.user._id }}">
              <img ng-src="{{ r.user.cover_image  || './static/images/no-image.png' }}">
            </a>
          </div>
          <div class="user-name">
            <a ng-href="#/users/{{ r.user._id }}" class="name link-default">{{ r.user.name }}</a>
            <a ng-href="#/users/{{ r.user._id }}" class="username link-tiny">@{{ r.user.username }}</a>
          </div>
        </div>
        <div class="notice-content">
          <h3 class="title">
            <a ng-href="#/books/{{ r._id }}" class="link-title" ng-bind="r.title"></a>
          </h3>
        </div>
        <div class="notice-shop">
          <a class="btn btn-primary-inverted full" ng-href="#/sales/{{ r.user._id }}">Comprar</a>
        </div>
      </div>
      <div class="shop-book-detail"
           ng-show="__showModal"
           id="book-{{r._id}}">
        <div class="notice-user">
          <div class="user-picture">
            <a href="#">
              <img ng-src="{{ r.user.cover_image  || './static/images/no-image.png' }}">
            </a>
          </div>
          <div class="user-name">
            <a ng-href="#/users/{{ r.user._id }}" class="name link-default">{{ r.user.name }}</a>
            <a ng-href="#/users/{{ r.user._id }}" class="username link-tiny">@{{ r.user.username }}</a>
            <a class="btn btn-primary btn-follow" style="width: 120px" href="#">
              Comprar
            </a>
          </div>
          <div class="user-options">
            <a ng-click="StoreCtrl.btnCloseDetail(r._id)">
              <i class="fa fa-times fa-lg"  style="color: #00AB6B;" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="synopsis">
          <p ng-bind="r.synopsis"></p>
        </div>
      </div>
    </li>
  </ul>
  <div class="column column-all more-data">
    <a class="btn btn-default full" ng-click="StoreCtrl.btnLoadMore()">Mais</a>

  </div>
</div>
<div class="trends" data-scroll="dock"
     ng-include="'views/trends.view.html'">

</div>

-->
