<div layout="row"
     layout-xs="column"
     flex="100"
     ng-init="BookPerformanceCtrl.init()">
  <div flex="100"
       class="column-list">
    <div flex="100"
         class="column column-all first-column"
         layout-align="center center"
         style="box-sizing: border-box;">

      <md-content>
        <md-tabs md-dynamic-height
                 md-selected="selectedTab"
                 md-border-bottom>
          <md-tab label="Contagem de vendas">
            <md-content class="md-padding">
              <canvas
                id="bar"
                flex="100"
                class="chart chart-bar"
                chart-options="BookPerformanceCtrl.actualGraph.options"
                chart-data="BookPerformanceCtrl.actualGraph.data"
                chart-labels="BookPerformanceCtrl.actualGraph.labels"
                chart-series="BookPerformanceCtrl.actualGraph.series"
                chart-colours="BookPerformanceCtrl.actualGraph.colours">
              </canvas>
            </md-content>
          </md-tab>
          <md-tab label="Contagem de vendas mensal">
            <md-content class="md-padding">
              <form>
                <div layout="row">
                  <md-input-container>
                    <label>Livros</label>
                    <md-select ng-model="BookPerformanceCtrl.selectedBook">
                      <md-option><em>None</em></md-option>
                      <md-option ng-repeat="book in BookPerformanceCtrl.writtenBooks|orderBy:'_id_book.title'"
                                 ng-value="book._id_book._id">
                        {{book._id_book.title + (book._id_book.subtitle ? ' - ' + book._id_book.subtitle : '')}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container>
                    <button class="btn btn-primary-inverted"
                            ng-click="BookPerformanceCtrl.btnLoadBook()">Carregar</button>
                  </md-input-container>
                </div>
              </form>
              <canvas
                ng-show="BookPerformanceCtrl.showGraph";
                id="barb"
                flex="100"
                class="chart chart-bar"
                chart-options="BookPerformanceCtrl.actualGraph.options"
                chart-data="BookPerformanceCtrl.actualGraph.data"
                chart-labels="BookPerformanceCtrl.actualGraph.labels"
                chart-series="BookPerformanceCtrl.actualGraph.series"
                chart-colours="BookPerformanceCtrl.actualGraph.colours">
              </canvas>
            </md-content>
          </md-tab>
          <md-tab label="Lucro mensal">
            <md-content class="md-padding">
              <canvas
                id="barc"
                flex="100"
                class="chart chart-line"
                chart-options="BookPerformanceCtrl.actualGraph.options"
                chart-data="BookPerformanceCtrl.actualGraph.data"
                chart-labels="BookPerformanceCtrl.actualGraph.labels"
                chart-series="BookPerformanceCtrl.actualGraph.series"
                chart-colours="BookPerformanceCtrl.actualGraph.colours">
              </canvas>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>

      <!--
            <canvas
              id="bar"
              class="chart chart-bar"
              chart-options="BookPerformanceCtrl.chart_options"
              chart-data="BookPerformanceCtrl.data"
              chart-labels="BookPerformanceCtrl.labels"
              chart-series="BookPerformanceCtrl.series"
              chart-colours="BookPerformanceCtrl.colours">
            </canvas>
            -->


    </div>

  </div>
</div>
<style type="text/css">
  md-content{
    background: #ffffff!important;
  }
</style>
