<div class="feed-notices">
  <ul>
    <li ng-repeat="r in StoreCtrl.books">
      <div  class="column column-half">
        <div class="notice-image">
          <div class="shop-image-box">
            <img class="shop-cover" ng-src="{{ r.cover_image  || './static/images/no-image.png' }}" />
            <a ng-click="StoreCtrl.btnShowDetail(r)" class="shop-more">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="notice-user">
          <div class="user-picture">
            <a ng-href="#/users/{{ r.user._id }}">
              <img ng-src="{{ r.user.cover_image  || './static/images/no-image.png' }}">
            </a>
          </div>
          <div class="user-name">
            <a ng-href="#/users/{{ r.user._id }}" class="name link-default">{{ r.user.name }}</a>
            <a ng-href="#/users/{{ r.user._id }}" class="username link-tiny">@{{ r.user.username }}</a>
          </div>
        </div>
        <div class="notice-content">
          <h3 class="title">
            <a ng-href="#/books/{{ r.user._id }}" class="link-title" ng-bind="r.title"></a>
          </h3>
        </div>
        <div class="notice-shop">
          <a class="btn btn-primary-inverted" ng-href="#/sales/{{ r.user._id }}">Comprar</a>
        </div>
      </div>
      <div class="shop-book-detail"
           ng-show="__showModal"
           id="book-{{r._id}}">
        <div class="notice-user">
          <div class="user-picture">
            <a href="#">
              <img ng-src="{{ r.user.cover_image  || './static/images/no-image.png' }}">
            </a>
          </div>
          <div class="user-name">
            <a ng-href="#/users/{{ r.user._id }}" class="name link-default">{{ r.user.name }}</a>
            <a ng-href="#/users/{{ r.user._id }}" class="username link-tiny">@{{ r.user.username }}</a>
            <a class="btn btn-primary btn-follow" href="#">
              Comprar
            </a>
          </div>
          <div class="user-options">
            <a ng-click="StoreCtrl.btnCloseDetail(r._id)">
              <i class="fa fa-times fa-lg"  style="color: #00AB6B;" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="synopsis">
          <p ng-bind="r.date_published"></p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="trends" data-scroll="dock"
     ng-include="'views/trends.view.html'">

</div>

