<md-dialog aria-label="{{ bookDetCtrl.book.title }}" style="max-width: 512px">
  <form ng-cloak>
    <md-toolbar style="background: white;
  border: solid .0625rem /* 1px */ #DADADA;">
      <div class="md-toolbar-tools">
        <h2>{{ bookDetCtrl.book.title }}</h2>
        <span flex></span>
        <a style="cursor: pointer" ng-click="bookDetCtrl.cancel()">
          <i class="fa fa-times" aria-hidden="true" style="color: #00AB6B;"></i>

        </a>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="padding: 0px;">

        <div flex="100"
             class="column column-all"
             style="background: #ffffff; border: none"
             layout-align="center center">
          <div class="notice-image">
            <img ng-src="{{ bookDetCtrl.book.cover_image || './static/images/no-image.png' }}">
          </div>
          <div class="notice-user"
               layout="row">
            <div flex="20"
                 flex-xs="20"
                 class="user-picture">
              <a ng-href="#/user/{{ bookDetCtrl.book.user.username }}"
                 ng-click="bookDetCtrl.cancel()">
                <img ng-src="{{ bookDetCtrl.book.user.cover_image || './static/images/no-image.png' }}">
              </a>
            </div>
            <div flex="70"
                 flex-xs="80"
                 class="user-name">
              <p
                 class="name link-default">{{ bookDetCtrl.book.user.name }}</p>
              <p
                 class="username link-tiny">@{{ bookDetCtrl.book.user.username }}</p>
            </div>
          </div>
          <div class="notice-content"
               layout="column">
            <div flex="100"
                 ng-show="bookDetCtrl.book.keywords.length">
              <div class="tiny-chip">
                <md-chips ng-model="bookDetCtrl.book.keywords" readonly="true" md-removable="false">
                  <md-chip-template style="padding: 0">
                    <span style="font-size: .75rem">{{$chip.content}}</span>
                  </md-chip-template>
                </md-chips>
              </div>
            </div>

            <div flex="100"
                 layout-margin>
              <h3 class="title" ng-bind="bookDetCtrl.book.title"></h3>
            </div>
            <div flex="100"
                 layout-margin>
              <h4 class="title" ng-bind="bookDetCtrl.book.subtitle">
              </h4>
            </div>
            <div flex="100">
              <p class="text"
                 ng-bind="bookDetCtrl.book.synopsis">
              </p>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <button class="btn btn-primary-inverted"
              ng-click="bookDetCtrl.buy()">Comprar</button>
    </md-dialog-actions>
  </form>
</md-dialog>


