<div class="notice" ng-repeat="r in [1,2,3,4]">
  <div class="notice-image">
    <a href="#">
      <img src="images/publicacoes.jpg">
    </a>
  </div>
  <div class="notice-user">
    <div class="user-picture">
      <a href="#">
        <img src="images/image (12).jpg">
      </a>
    </div>
    <div class="user-name">
      <a href="#/dashboard" class="name link-default">J. R. R. Tolkien</a>
      <p class="time">Dom, 10 de Jul 17:02</p>
    </div>
    <div class="user-options">
      <a href="#">
        <i class="fa fa-bookmark fa-lg"  style="color: #00AB6B;" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="notice-content">
    <h1 class="title">
      <a href="#/notice" class="link-title">O Hobbit – J. R. R. Tolkien</a>
    </h1>
    <p class="text">
      <a href="#/notice">Numa toca no chão vivia um hobbit. Não uma toca desagradável,
        suja e úmida, cheia de restos de minhocas e com cheiro de lodo; tampouco uma
        toca seca, vazia e arenosa, sem nada em que sentar ou o que comer: era a toca
        de um hobbit, e isso quer dizer conforto.
        A toca tinha uma porta perfeitamente redonda como uma
        escotilha, pintada de verde, com uma maçaneta brilhante de latão amarelo
        exatamente no centro. </a>
    </p>
  </div>
  <div class="notice-options">
    <a href="#" class="btn-like">
      <i class="fa fa-star fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
      50
    </a>
    <a href="#" class="btn-comment">
      <i class="fa fa-comments fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
      50
    </a>
  </div>
</div>
