<div class="feed-notices">
  <div class="notice" ng-repeat="r in FeedCtrl.feedItems">
    <div class="notice-image">
      <a ng-href="#/book/{{ r._id_book._id }}">
        <img ng-src="{{ r._id_book.cover_image || './static/images/no-image.png' }}">
      </a>
    </div>
    <div class="notice-user">
      <div class="user-picture">
        <a ng-href="#/user/{{ r._id_user.username }}">
          <img ng-src="{{ r._id_user.cover_image || './static/images/no-image.png' }}">
        </a>
      </div>
      <div class="user-name">
        <a ng-href="#/user/{{ r._id_user.username }}"
           class="name link-default"
           ng-bind="r._id_user.name"></a>

        <p class="time"
           ng-bind="r.create_at"></p>
      </div>
      <div class="user-options">

        <a ng-href="#/bookmark">
          <i class="fa fa-bookmark fa-lg"  style="color: #00AB6B;" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="notice-content">
      <h1 class="title">
        <a ng-href="#/book/{{ r._id_book._id }}"
           class="link-title"
           ng-bind="r._id_book.title"></a>
      </h1>
      <p class="text">
        <a ng-href="#/book/{{ r._id_book._id }}"
           ng-bind="r._id_book.synopsis"></a>
      </p>
    </div>
    <div class="notice-options">
      <a ng-href="#/book/{{ r._id_book._id }}"
         class="btn-like">
        <i class="fa fa-star fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
        {{ r._id_book.average_star }}
      </a>
      <a href="#" class="btn-comment">
        <i class="fa fa-comments fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
        {{ r._id_book.comments.length }}
      </a>
    </div>
  </div>
</div>
<div class="trends" data-scroll="dock"
     ng-include="'views/trends.view.html'">

</div>
<!--

