<div class="feed-notices">
  <div class="notice">
    <p>Login</p>
    <form novalidate>
      <!--<div class="group col-lg-6">
        <input class="inputMaterial" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nome completo</label>
      </div>-->

      <input type="text" ng-model="LoginCtrl.user.username" />
      <input type="text"  ng-model="LoginCtrl.user.pass" />
      <button
        class="btn btn-primary"
        ng-click="LoginCtrl.btnAuthenticate()" >Login</button>
    </form>
  </div>
</div>
<div class="trends" data-scroll="dock"
     ng-include="'views/trends.view.html'">

</div>
