<div class="feed-notices">
  <div class="notice">
    <p>Login</p>
    <form novalidate>
      <!--<div class="group col-lg-6">
        <input class="inputMaterial" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nome completo</label>
      </div>-->

      <input type="text" ng-model="LoginCtrl.user.username" />
      <input type="text"  ng-model="LoginCtrl.user.pass" />
      <button
        class="btn btn-primary"
        ng-click="LoginCtrl.btnAuthenticate()" >Login</button>
    </form>
  </div>
</div>

<div class="trends" data-scroll="dock">
  <div class="trend-block">
    <h4>Em alta</h4>
  </div>
  <div class="trend-item">
    <div class="trend-picture">
      <a href="#">
        <img src="./static/images/image (10).jpg">
      </a>
    </div>
    <div class="trend-content">
      <a href="#" class="name link-default">Mário Quintana</a> <br />
      <a href="#" class="username link-tiny">@MarioQ</a>
    </div>
  </div>
  <div class="trend-item">
    <div class="trend-picture">
      <a href="#">
        <img src="./static/images/image (9).jpg">
      </a>
    </div>
    <div class="trend-content">
      <a href="#" class="name link-default">Ana Maria</a> <br />
      <a href="#" class="username link-tiny">@AnaMary</a>
    </div>
  </div>
  <div class="trend-item">
    <div class="trend-picture">
      <a href="#">
        <img src="./static/images/image (6).jpg">
      </a>
    </div>
    <div class="trend-content">
      <a href="#" class="name link-default">Marcos Henrique</a> <br />
      <a href="#" class="username link-tiny">@Marc</a>
    </div>
  </div>
  <div class="trend-item">
    <div class="trend-picture">
      <a href="#">
        <img src="./static/images/image (4).jpg">
      </a>
    </div>
    <div class="trend-content">
      <a href="#" class="name link-default">Alice Braga</a> <br />
      <a href="#" class="username link-tiny">@AlB</a>
    </div>
  </div>
  <div class="trend-block">
    <h4>Leituras</h4>
  </div>
  <div class="trend-item">
    <div class="trend-picture">
      <a href="#">
        <img src="./static/images/image (1).jpg">
      </a>
    </div>
    <div class="trend-content">
      <a href="#" class="name link-default">Mario Tadeu</a> <br />
      <a href="#" class="username link-tiny">@MarioTadeu</a>
    </div>
  </div>
  <div class="trend-item">
    <div class="trend-picture">
      <a href="#">
        <img src="./static/images/image (7).jpg">
      </a>
    </div>
    <div class="trend-content">
      <a href="#" class="name link-default">Marcela Lima</a> <br />
      <a href="#" class="username link-tiny">@Ma</a>
    </div>
  </div>
  <div class="trend-item">
    <div class="trend-picture">
      <a href="#">
        <img src="./static/images/image (10).jpg">
      </a>
    </div>
    <div class="trend-content">
      <a href="#" class="name link-default">Mário Quintana</a> <br />
      <a href="#" class="username link-tiny">@MarioQ</a>
    </div>
  </div>

</div>
