<div class="feed-notices">
  <div class="notice container">
    <p>Login</p>
    <form novalidate>
      <!--<div class="group col-lg-6">
        <input class="inputMaterial" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nome completo</label>
      </div>-->

      <div class="form-group">
        <input type="text"  name="input" id="input" required="required"/>
        <label class="control-label" for="input">Login</label><i class="bar"></i>
      </div>

      <div class="form-group">
        <input type="password"  name="input" id="pass" required="required"/>
        <label class="control-label" for="pass">Senha</label><i class="bar"></i>
      </div>

      <input type="text" ng-model="LoginCtrl.user.username" />
      <input type="text"  ng-model="LoginCtrl.user.pass" />
      <button
        class="btn btn-primary"
        ng-click="LoginCtrl.btnAuthenticate()" >Login</button>
    </form>
  </div>
</div>
<div class="trends" data-scroll="dock"
     ng-include="'views/trends.view.html'">

</div>
