
<div layout="row"
     layout-xs="column"
     flex="100">
  <div flex="50"
       layout-margin
       flex-xs="100"
       flex-offset-gt-xs="10"
       class="column-list">
    <div flex="100"
         class="column column-all first-column"
         layout-align="center center">
      <div class="platform-terms">
        <h1>Declaração de Direitos e Responsabilidades</h1>
        <div class="content-divisor"><p>&#8226;&#8226;&#8226;</p></div>
        <div class="content-terms">
          <p>
            Esta Declaração de Direitos e Responsabilidades representa os termos de serviço que regem nosso relacionamento com os usuários e outras pessoas que interagem com a Littera. Ao usar ou acessar a plataforma de publicação de conteúdos literários Littera, você concorda com esta Declaração.
            Pedimos que analise os nossos termos antes de utilizar a plataforma.
          </p>
          <ul class="main">
            <li>
              <h3>1. Privacidade</h3>
              <p>Sua privacidade é muito importante, por isso elaboramos as seguintes diretrizes.</p>
            </li>
            <li>
              <h3>2. Compartilhando suas informações e conteúdos</h3>
              <p>Você é proprietário de todas as informações e conteúdos que publica na Littera e pode controlar o modo como serão compartilhados e comercializados dentro da plataforma.
                Quando você publica conteúdos ou informações usando a opção Público, você está permitindo que todos os usuários acessem e usem essas informações e as associem a você (isto é, ao seu nome e foto do perfil).
                Seus conteúdos publicados são de sua inteira responsabilidade, incluindo comentários e avaliações.
                Os conteúdos baixados da plataforma Littera para o aplicativo não devem ser distribuídos sem autorização do autor.</p>
            </li>

            <li>
              <h3>3. Segurança</h3>
              <p>Para sua segurança, pedimos que se atente a:</p>
              <ul class="subitem">
                <li><p>Não carregar vírus ou outros códigos mal-intencionados.</p></li>
                <li><p>Não solicitar informações de login, nem acessar uma conta que pertença a outra pessoa.</p></li>
                <li><p>Não intimidar, assediar ou praticar bullying contra qualquer usuário.</p></li>
                <li><p>Não publicar conteúdos que contenham discurso de ódio, sejam ameaçadores ou pornográficos; incitem violência; ou contenham nudez ou violência gratuita ou gráfica.</p></li>
                <li><p>Não usar a Littera para praticar qualquer ato ilegal, equivocado, malicioso ou discriminatório.</p></li>
                <li><p>Não violar os os termos do contrato, com pena da exclusão de sua conta.</p></li>
                <li><p>Caso tenha a conta excluída pela violação dos nossos termos, todo lucro financeiro ficará à disposição da Littera.</p></li>
                <li><p>Não fará nada que possa desabilitar, sobrecarregar ou impedir o funcionamento ou a aparência adequados da Littera, como um ataque de negação de serviço ou interferência no processamento da página ou de outra funcionalidade da Littera.</p></li>
                <li><p>Não facilitar nem incentivar a violação desta Declaração ou de nossas políticas.</p></li>
              </ul>
            </li>

            <li>
              <h3>4. Registro e segurança da conta</h3>
              <p>Os usuários fornecem seus nomes e informações reais, para que isso se mantenha assim, pedimos que:</p>
              <ul class="subitem">
                <li><p>Não forneça qualquer informação pessoal falsa, nem crie uma conta para qualquer outra pessoa além de você sem permissão.</p></li>
                <li><p>Não crie mais de uma conta pessoal.</p></li>
                <li><p>Se tiver sua conta desativada por violação dos nossos termos, não crie outra sem nossa permissão.</p></li>
                <li><p>Não usar a Littera para fins comerciais for menor de 18 anos.</p></li>
                <li><p>Manter suas informações de contato precisas e atualizadas.</p></li>
                <li><p>Não compartilhar sua senha, deixar outra pessoa acessar sua conta ou praticar qualquer ato que possa comprometer a segurança da sua conta.</p></li>
              </ul>
            </li>

            <li>
              <h3>5. Proteção dos direitos de outras pessoas</h3>
              <p>Nós respeitamos os direitos de terceiros, e esperamos que você faça o mesmo.</p>
              <ul class="subitem">
                <li><p>Não publicar conteúdo ou praticar qualquer ato na plataforma de publicação Littera que infrinja ou viole os direitos de terceiros ou a lei.</p></li>
                <li><p>Podemos remover qualquer conteúdo ou informação publicada por um usuário na plataforma se julgarmos que isso viola esta declaração ou nossas políticas.</p></li>
                <li><p>Se removermos o conteúdo por infringir os direitos autorais de alguém, e o usuário acreditar que o removemos por engano, forneceremos a oportunidade de recorrer.</p></li>
                <li><p>Se o usuário violar repetidamente os direitos de propriedade intelectual de terceiros, nós desativaremos sua conta quando apropriado.</p></li>
                <li><p>Se coletar informações dos usuários, o usuário deverá: obter o consentimento deles, deixar claro que é ele (e não os administradores da Littera) quem está coletando as informações e publicar uma política de privacidade explicando quais informações serão coletadas e como elas serão usadas.</p></li>
                <li><p>Não publicar documentos de identificação ou informações financeiras confidenciais de terceiros dentro da plataforma.</p></li>
              </ul>
            </li>

            <li>
              <h3>6. Celular e outros dispositivos móveis</h3>
              <p>O usuário da Littera poderá utilizar do aplicativo para leitura dos textos salvos previamente da plataforma.</p>
            </li>

            <li>
              <h3>7. Vendas</h3>
              <ul class="subitem">
                <li><p>As negociações serão de feitas entre os usuários, os valores dos conteúdos disponibilizados para comercialização serão estipulados pelo autor, tendo um valor mínimo e máximo para compra e venda.</p></li>
                <li><p>Ao disponibilizar um conteúdo para venda, o usuário está ciente de que uma porcentagem (dez por cento do valor da venda) será destinado à conta da Littera.</p></li>
                <li><p>Pagamentos</p></li>
                <li><p>As transações financeiras de compra e venda dos conteúdos serão realizadas através do <a target="_blank" class="link-default" href="https://www.paypal.com/br/home">Paypal</a>, seguindo as suas exigências e termos.</p></li>
                <li><p>As informações de pagamento são de responsabilidade do Paypal <b>(a Littera se isenta da responsabilidade de qualquer vazamento de informações nesse sentido)</b>.</p></li>
              </ul>
            </li>
          </ul>
          <p class="footer">
            <span class="tiny">O idioma da versão original deste acordo é o português (Brasil).</span>
          </p>
        </div>

      </div>
    </div>
  </div>
  <div flex="35"
       flex-xs="100"
       layout-margin
       class="trends"
       data-scroll="dock"
       ng-include="'views/trends.view.html'">
  </div>
</div>
