<div ng-controller="TrendsController as TrendsCtrl"
     ng-init="TrendsCtrl.init()">
  <div class="trend-block">
    <h4>Em alta</h4>
  </div>

  <md-list  flex>
    <md-list-item class="md-1-line" ng-repeat="r in TrendsCtrl.topUsers"
                  >
      <div layout="column"
           flex="100">
        <div flex="100"
             style="padding: 0"
             layout="row">
          <img ng-src="{{ r.cover_image  || './static/images/no-image.png' }}"
               class="md-avatar"
               alt="r.name" />
          <div class="md-list-item-text"
               flex="100"
               layout="column">
            <a ng-href="#/user/{{ r.username }}"
               class="name link-default">{{ r.name }}</a>
            <br />
            <a ng-href="#/user/{{ r.username }}"
               class="username link-tiny">@{{ r.username }}</a>
          </div>
        </div>
      </div>

    </md-list-item>

  </md-list>

  <div class="trend-block">
    <h4>Leituras</h4>
  </div>

  <md-list  flex>
    <md-list-item class="md-1-line"
                  ng-repeat="r in TrendsCtrl.topBooks"
      >
      <div layout="column"
           flex="100">
        <div flex="100"
             style="padding: 0"
             layout="row">
          <img ng-src="{{ r.cover_image  || './static/images/no-image.png' }}"
               class="md-avatar"
               alt="r.name" />
          <div class="md-list-item-text"
               flex="100"
               layout="column">
            <a ng-href="#/books/{{ r._id  }}"
               class="name link-default"
               ng-bind="r.title"></a>
            <br />
            <a ng-show="r.subtitle.length"
               ng-href="#/books/{{ r._id  }}"
               class="username link-tiny"
               ng-bind="r.subtitle"></a>
          </div>
        </div>
      </div>

    </md-list-item>

  </md-list>
</div>
