<div layout="row"
     layout-xs="column"
     flex="100"
     autoscroll="true"
     ng-init="UserDetailCtrl.init()">

  <div flex="100"
       flex-xs="100"
       hide-gt-xs
       class="trends"
       data-scroll="dock"
       ng-include="'views/user-info.tpl.html'">
  </div>
  <div flex="50"
       layout-margin
       flex-xs="100"
       flex-offset-gt-xs="10"
       class="column-list">

    <div class="column column-all first-column"
         ng-show="UserDetailCtrl.selectedTab === 0 &&
                  !UserDetailCtrl.user.written_books.length">
      <div class="notice-content">
        <h3 class="title">
          Não temos nada pra exibir aqui ainda :(
        </h3>
      </div>
    </div>
    <div class="column column-all first-column"
         ng-show="UserDetailCtrl.selectedTab === 1 &&
                  !UserDetailCtrl.user.library.length">
      <div class="notice-content">
        <h3 class="title">
          Não temos nada pra exibir aqui ainda :(
        </h3>
      </div>
    </div>
    <div class="column column-all first-column"
         ng-show="UserDetailCtrl.selectedTab === 5 &&
                  !UserDetailCtrl.user.wishlist.length">
      <div class="notice-content">
        <h3 class="title">
          Não temos nada pra exibir aqui ainda :(
        </h3>
      </div>
    </div>


    <div flex="100"
         ng-show="UserDetailCtrl.selectedTab === 0"
         class="column column-all"
         ng-class="{ 'first-column': $index==0 }"
         layout-align="center center"
         ng-repeat="r in UserDetailCtrl.user.written_books|orderBy:'-date_published':true">
      <div class="notice-image">
        <a ng-href="#/books/{{ r._id_book._id }}">
          <img ng-src="{{ r._id_book.cover_image || './static/images/no-image.png' }}">
        </a>
      </div>
      <div class="notice-content"
           layout="column"
           layout-margin>
        <div flex="100">
          <h3 class="title">
            <a ng-href="#/books/{{ r._id_book._id }}"
               class="link-title"
               ng-bind="r._id_book.title"></a>
          </h3>
        </div>
        <div flex="100">
          <p class="text"
             ng-bind="r._id_book.synopsis">
          </p>
        </div>
      </div>
      <div class="notice-options"
           layout="row">
        <div flex="50">
          <a ng-href="#/books/{{ r._id_book._id }}?tab=2"
             class="btn-like">
            <i class="fa fa-star fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
            {{ r._id_book.average_star }}
          </a>
        </div>
        <div flex="50">
          <a ng-href="#/books/{{ r._id_book._id }}?tab=3" class="btn-comment">
            <i class="fa fa-comments fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
            {{ r._id_book.comments.length }}
          </a>
        </div>
      </div>
    </div>

    <div flex="100"
         ng-show="UserDetailCtrl.selectedTab === 1"
         class="column column-all"
         ng-class="{ 'first-column': $index == 0 }"
         layout-align="center center"
         ng-repeat="r in UserDetailCtrl.user.library|orderBy:'-date_published':true">
      <div class="notice-image">
        <a ng-href="#/books/{{ r._id_book._id }}">
          <img ng-src="{{ r._id_book.cover_image || './static/images/no-image.png' }}">
        </a>
      </div>
      <div class="notice-content"
           layout="column"
           layout-margin>
        <div flex="100">
          <h3 class="title">
            <a ng-href="#/books/{{ r._id_book._id }}"
               class="link-title"
               ng-bind="r._id_book.title"></a>
          </h3>
        </div>
        <div flex="100">
          <p class="text"
             ng-bind="r._id_book.synopsis">
          </p>
        </div>
      </div>
      <div class="notice-options"
           layout="row">
        <div flex="50">
          <a ng-href="#/books/{{ r._id_book._id }}?tab=2"
             class="btn-like">
            <i class="fa fa-star fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
            {{ r._id_book.average_star }}
          </a>
        </div>
        <div flex="50">
          <a ng-href="#/books/{{ r._id_book._id }}?tab=3"
             class="btn-comment">
            <i class="fa fa-comments fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
            {{ r._id_book.comments.length }}
          </a>
        </div>
      </div>
    </div>

    <div flex="100"
         ng-show="UserDetailCtrl.selectedTab === 5"
         class="column column-all"
         ng-class="{ 'first-column': $index == 0 }"
         layout-align="center center"
         ng-repeat="r in UserDetailCtrl.user.wishlist|orderBy:'-date_saved'">
      <div class="notice-image">
        <a ng-href="#/books/{{ r._id_book._id }}">
          <img ng-src="{{ r._id_book.cover_image || './static/images/no-image.png' }}">
        </a>
      </div>
      <div class="notice-content"
           layout="column"
           layout-margin>
        <div flex="100">
          <h3 class="title">
            <a ng-href="#/books/{{ r._id_book._id }}"
               class="link-title"
               ng-bind="r._id_book.title"></a>
          </h3>
        </div>
        <div flex="100">
          <p class="text"
             ng-bind="r._id_book.synopsis">
          </p>
        </div>
      </div>
      <div class="notice-options"
           layout="row">
        <div flex="50">
          <a ng-href="#/books/{{ r._id_book._id }}?tab=2"
             class="btn-like">
            <i class="fa fa-star fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
            {{ r._id_book.average_star }}
          </a>
        </div>
        <div flex="50">
          <a ng-href="#/books/{{ r._id_book._id }}?tab=3"
             class="btn-comment">
            <i class="fa fa-comments fa-1x" style="color: #00AB6B;" aria-hidden="true"></i>
            {{ r._id_book.comments.length }}
          </a>
        </div>
      </div>
    </div>


    <div flex="100"
         class="follow-grid"
         ng-show="UserDetailCtrl.selectedTab === 3"
         layout-align="center center">
      <ul ng-repeat="r in UserDetailCtrl.user.following">
        <li>
          <div class="follow-item">
            <div class="follow-user">
              <a ng-href="#/user/{{r._id_user_follow.username}}">
                <img ng-src="{{ r._id_user_follow.cover_image || './static/images/no-image.png' }}" />
                <p class="name link-default">{{r._id_user_follow.name}}</p>
                <p class="username link-tiny">@{{r._id_user_follow.username}}</p>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div flex="100"
         class="follow-grid"
         ng-show="UserDetailCtrl.selectedTab === 4"
         layout-align="center center">
      <ul ng-repeat="r in UserDetailCtrl.user.followers">
        <li>
          <div class="follow-item">
            <div class="follow-user">
              <a ng-href="#/user/{{r._id_user_follow.username}}">
                <img ng-src="{{ r._id_user_follow.cover_image || './static/images/no-image.png' }}" />
                <p class="name link-default">{{r._id_user_follow.name}}</p>
                <p class="username link-tiny">@{{r._id_user_follow.username}}</p>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <md-content layout="column" class=" column column-all first-column"
                ng-show="UserDetailCtrl.selectedTab === 6">
      <md-list class="md-dense" flex
               ng-show="UserDetailCtrl.isAuthenticated &&
                        !UserDetailCtrl.sameUser()"
               style="border-bottom: solid .0625rem /* 1px */ #DADADA;">
        <md-list-item class="md-3-line" ng-repeat="r in [UserDetailCtrl.loggedUser]">
          <div layout="column"
               flex="100">
            <div flex="100"
                 layout="row">
              <img ng-src="{{ r.cover_image  || './static/images/no-image.png' }}"
                   class="md-avatar"
                   alt="r.name" />
              <div class="md-list-item-text"
                   layout="column"
                   flex="100">
                <form
                  class="form-container" novalidate
                  layout="column"
                  flex="100">
                  <md-input-container>
                    <md-select ng-model="UserDetailCtrl.review.stars" placeholder="Avaliação">
                      <md-option ng-selected="true" ng-value="1">
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                      </md-option>
                      <md-option ng-value="2">
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                      </md-option>
                      <md-option ng-value="3">
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                      </md-option>
                      <md-option ng-value="4">
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                      </md-option>
                      <md-option ng-value="5">
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <div class="form-group"  flex="90"
                       ng-class="{ 'has-error': UserDetailCtrl.hasError('comment') }">
                    <textarea
                              type="text"
                              name="txtRanking"
                                      id="txtRanking"
                                      ng-model="UserDetailCtrl.review.comment"
                                      required="required"></textarea>
                    <label class="control-label"
                           ng-class="{ 'has-error': UserDetailCtrl.hasError('comment') }"
                           for="txtRanking">Escreva sua avaliação
                    </label><i class="bar"></i>
                    <p class="field-err" ng-if="UserDetailCtrl.hasError('comment')" >{{UserDetailCtrl.getErrorMessage('comment')}}</p>
                  </div>
                  <div style="margin-top: .625rem"
                       class="button-group">
                    <a class="btn btn-primary"
                       style="width: 6.25rem"
                       ng-click="UserDetailCtrl.btnPostRanking()">
                      Publicar
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </md-list-item>

      </md-list>
      <h5 ng-show="!UserDetailCtrl.user.reviews.length"
          class="md-padding md-title" >Ninguém avaliou ainda :/</h5>


      <md-list class="md-dense" flex ng-show="UserDetailCtrl.user.reviews.length">
        <md-list-item class="md-3-line" ng-repeat="r in UserDetailCtrl.user.reviews|orderBy:'-create_at'"
                      style="border-bottom: solid .0625rem /* 1px */ #DADADA;"
                      layout-padding>
          <div layout="column"
               flex="100">
            <div flex="100"
                 layout="row">
              <img ng-src="{{ r._id_user.cover_image  || './static/images/no-image.png' }}"
                   class="md-avatar"
                   alt="r.name" />
              <div class="md-list-item-text"
                   flex="100"
                   layout="column"
                   layout-padding>
                <a ng-href="#/user/{{ r._id_user.username }}" class="name link-default">{{ r._id_user.name }}</a>
                <a ng-href="#/user/{{ r._id_user.username }}" class="username link-tiny">@{{ r._id_user.username }}</a>
                <a class="stars name"
                   style="color: #00AB6B; font-size:.8rem">
                  <i class="fa fa-star fa-fw" style="color: #00AB6B;" aria-hidden="true"></i>
                  {{ r.stars }}
                </a>
              </div>
            </div>
            <div layout-padding  flex="100" class="content">
              <p>{{ r.comment }}</p>
            </div>
          </div>

        </md-list-item>

      </md-list>
    </md-content>

  </div>
  <div flex="35"
       hide-xs
       class="trends"
       data-scroll="dock"
       ng-include="'views/user-info.tpl.html'">
  </div>
</div>
<script type="text/javascript">
  $('textarea').autogrow();
</script>
