<div layout="row"
     layout-xs="column"
     flex="100"
     ng-init="PasswordCtrl.init()">
  <div flex="50"
       layout-margin
       flex-xs="100"
       flex-offset-gt-xs="10"
       class="column-list">
    <div flex="100"
         class="column column-all first-column"
         layout-align="center center">
      <form class="form-container" novalidate>
        <h1>Alterar Senha</h1>
        <div class="form-group"
             ng-class="{ 'has-error': PasswordCtrl.hasError('email') }">
          <input type="text"
                 ng-model="PasswordCtrl.user.email"
                 name="txtemail"
                 id="txtemail"
                 required="required"/>
          <label class="control-label"
                 ng-class="{ 'has-error': PasswordCtrl.hasError('email') }"
                 for="txtemail">E-mail
          </label><i class="bar"></i>
          <p class="field-err"
             ng-show="PasswordCtrl.hasError('email')" >
            {{PasswordCtrl.getErrorMessage('email')}}</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': PasswordCtrl.hasError('password') }">
          <input type="password"
                 ng-model="PasswordCtrl.user.password"
                 name="txtpassword"
                 id="txtpassword"
                 required="required"/>
          <label class="control-label"
                 ng-class="{ 'has-error': PasswordCtrl.hasError('password') }"
                 for="txtpassword">Senha Atual
          </label><i class="bar"></i>
          <p class="field-err"
             ng-show="PasswordCtrl.hasError('password')" >
            {{PasswordCtrl.getErrorMessage('password')}}</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': PasswordCtrl.hasError('newPass') }">
          <input type="password"
                 ng-model="PasswordCtrl.user.newPass"
                 name="txtnewPass"
                 id="txtnewPass"
                 required="required"/>
          <label class="control-label"
                 ng-class="{ 'has-error': PasswordCtrl.hasError('newPass') }"
                 for="txtnewPass">Nova senha
          </label><i class="bar"></i>
          <p class="field-err"
             ng-show="PasswordCtrl.hasError('newPass')" >
            {{PasswordCtrl.getErrorMessage('newPass')}}</p>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': PasswordCtrl.hasError('newPassBis') }">
          <input type="password"
                 ng-model="PasswordCtrl.user.newPassBis"
                 name="txtnewPassBis"
                 id="txtnewPassBis"
                 required="required"/>
          <label class="control-label"
                 ng-class="{ 'has-error': PasswordCtrl.hasError('newPassBis') }"
                 for="txtnewPassBis">Confirmar senha
          </label><i class="bar"></i>
          <p class="field-err"
             ng-show="PasswordCtrl.hasError('newPassBis')" >
            {{PasswordCtrl.getErrorMessage('newPassBis')}}</p>
        </div>

        <div class="button-group">
          <button
            class="btn full btn-primary-inverted"
            ng-click="PasswordCtrl.btnChangePass()">Alterar</button>
        </div>
      </form>

    </div>
  </div>
  <div flex="35"
       flex-xs="100"
       layout-margin
       class="trends"
       data-scroll="dock"
       ng-include="'views/trends.view.html'">
  </div>
</div>
