<div class="feed-notices" ng-init="WrittenBooksCtrl.init()">
  <ul>
    <li>
      <div class="notice-content">
        <div style="padding: .625rem"
             class="column column-all">
          <a class="btn btn-primary full"

             href="#/book/create">Novo Livro</a>
        </div>
      </div>
    </li>
    <li ng-repeat="r in WrittenBooksCtrl.lstWrittenBooks|orderBy:'-date_published':true">
      <div  class="column column-all">
        <div class="notice-image">
          <img ng-src="{{ r._id_book.cover_image }}" />
        </div>
        <div class="notice-content">
          <h3 class="title">
            <a ng-href="#/books/{{ r._id_book._id }}"
               class="link-title"
               ng-bind="r._id_book.title"></a>
          </h3>
        </div>
        <div class="notice-shop">
          <a class="btn btn-primary-inverted full" ng-href="#/sales/{{ r._id_book._id }}">Alterar</a>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="trends" data-scroll="dock"
     ng-include="'views/trends.view.html'">

</div>

