@import url("reset.css");
/*@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Tinos)*/

html, body {
  height:100%;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

html {
  font-family: "Arimo", tahoma, sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  color: rgb(32,32,32);
}

a:hover {
  color: rgb(32,32,32);

}


ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
  list-style: none;
}

body {
  background: #FAFAFA;
}

body:before{
  content:"";
  width:100%;
  height:100%;
  background: #FAFAFA;
}

.modal {
  display: block;
  position: fixed;
  z-index: 70;
  padding-top: 6.25rem; /* 100px */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  transition: all 600s linear;
  -moz-transition: all 600s linear;
  -webkit-transition: all 600s linear;
}

header {
  background: rgba(255,255,255,.95);
  width: 100%;
  text-align:center;
  height: 2.8125rem; /* 45px */
  position: fixed;
  z-index: 1;
  border-bottom: solid 1px #DADADA;
}

header div {
  height: 100%;
}

header .nav-button {
  float: left;
  width: 2.8125rem; /* 45px */
  box-sizing: content-box;
  border-right: solid 1px #DADADA;
  transition:all 400ms ease;
}
.nav-button:hover{
  background: rgb(245,245,245);
  cursor: pointer;
}

a.menu-button {
  text-align: center;
  vertical-align: middle;
  box-sizing: content-box;
  width: 2.8125rem; /* 45px */
  line-height: 2.8125rem; /* 45px */
}

a.menu-button i {
  width: 2.8125rem; /* 45px */
  height: 1.25rem; /* 20px; */
}

header .nav-center {
  margin:0 auto;
  display:inline-block;
}

.nav-center p {
  line-height: 2.8125rem; /* 45px; */
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  font-size: 1.2rem;
  text-overflow: ellipsis;
}

header .nav-user {
  width: 15.625rem; /* 250px; */
  float: right;
  border-left: solid .0625rem /* 1px */ #DADADA;
  transition: all 300ms ease;
}

.nav-user .nav-user-config {
  float: left;
  width: 1.875rem; /* 30px; */
  box-sizing: content-box;
  height: 2.8125rem; /* 45px;*/
  transition: all 100ms ease;
}

.nav-user .nav-user-config:hover {
  background: rgb(245,245,245);
}

.nav-user-config .btn-search {
  cursor: pointer;
  float: left;
  margin-left: .5rem; /* 8px; */
  line-height: 2.8125rem; /* 45px; */
  margin-right: .9375rem; /* 15px; */
}

.nav-user .nav-user-desc {
  float: left;
  height: 2.8125rem; /* 45px; */
  min-width: 9.375rem; /* 150px; */
  width: 100%;
  transition: all 300ms ease;
}
.nav-user-desc:hover{
  background: rgb(245,245,245);
  cursor: pointer;
}

.nav-user-desc p {
  padding-right: .25rem; /* 4px; */
  padding-left: .25rem; /* 4px; */
  height: 2.8125rem; /* 45px; */
  line-height: 2.8125rem; /* 45px; */
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(32,32,32);
}

.nav-user-desc  input#txtSearch {
  width: 18.75rem; /* 300px; */
  padding-top: 0;
  font-size: 1.5rem;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 2.625rem; /* 42px; */
  display: block;
  transition: all 300ms ease;
  border:none;
  border-bottom: solid .125rem /* 2px */ #DADADA;
  outline: none
}

.nav-user .nav-user-picture {
  float: right;
  width: 3.125rem; /* 50px; */
  box-sizing: content-box;
  height: 2.8125rem; /* 45px; */
  cursor: pointer;
  transition: all 300ms ease;
}

.nav-user .nav-user-picture:hover {
  background: rgb(245,245,245);
}

.nav-user-picture .notify {
  background: rgb(29,233,182);
  top: .125rem; /* 2px */
  width: .9375rem; /* 15px; */
  height: .9375rem; /* 15px; */
  border-radius: .625rem; /* 10px; */
  position: absolute;
}

.nav-user-picture img {
  margin-top: .125rem; /* 2px */
  margin-right: .125rem; /* 2px */
  border-radius: 1.25rem; /* 20px; */
  width: 2.5rem; /* 40px; */
  height: 2.5rem; /* 40px; */
  box-sizing: border-box;
}

.nav-user-picture img:hover {
  border: solid .125rem /* 2px */ rgb(29,233,182);
}

.divisor {
  width: 100%;
  height: .125rem; /* 2px */
  display: block;
  box-sizing: border-box;
  border-bottom: solid .0625rem /* 1px */ #DADADA;
}

.container-content {
  width: 100%;
  max-width: 64rem; /* 1024px; */
  height: auto;
  margin: 0 auto;
  padding-top: 3.75rem; /* 60px; */
  padding-bottom: 5rem; /* 80px; */
  box-sizing: border-box;
  display: table;
}

/** feed css **/
.row {
  width: 100%;
  float: left;
}


.column {
  background: #FFFFFF;
  box-sizing: border-box;
  padding-bottom: .625rem; /* 10px */
  /*float: left;*/

  margin: 1%;
  border: solid .0625rem /* 1px */ #DADADA;
  border-radius: .1875rem;/* 3px; */
  margin: .625rem 0 0 0; /* 10px */
}

.first-column {
  border-top: solid .1875rem /* 3px; */ rgb(120,120,120);
  margin-top: 0;
}

.row:first-child .column {
  border-top: solid .1875rem /* 3px; */ rgb(120,120,120);
  margin-top: 0;
}

.column-no-border {
  border: none;
}

.column-half {
  width: 48%;
}

.column-little {
  width: 23%;
  margin: 1%;
}

.column-half-margin {
  margin-right: 2%;
}

.row.column-half:first-child {
  margin-right: 2%;
}

.column-all {
  width: 100%;
}

.notice-image {
  height: 15rem; /* 240px; */
  width: 100%;
  z-index: -1;
  display: block;
  transition: all 300ms ease;
}

.notice-image img {
  height: 15rem;/* 240px */
  width: 100%;
  display: block;
}

.notice-user {
  border-top: solid .0625rem /* 1px */ #DADADA;
  min-height: 3.75rem;/* 60px */
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.notice-user .user-picture {
  width: 3.75rem;/* 60px */
  min-height: 5rem;/* 60px */
  box-sizing: border-box;
  margin-top: -2.1875rem;/* 35px */
}

.notice-user .user-picture img {
  position: relative;
  margin: .625rem;/* 10px */
  width: 2.8125rem;/* 45px */
  height: 2.8125rem;/* 45px */
  border-radius: 2.5rem;/* 40px */
  box-sizing: border-box;
}

.notice-user .user-name {
  min-height: 3.75rem;/* 60px */
  height: auto;
  box-sizing: border-box;
  margin-top: .4375rem; /* 7px */
}

.notice-user .user-name a {
  /*font-size: 1.125rem;*/ /* 18px */
  margin-top: .3125rem;
  display: block;
}

.notice-user .user-name .time {
  margin-top: .625rem;/* 10px */
  font-size: .625rem; /* 10px */
  color: rgb(120,120,120);
}

.notice-user .user-options {
  width: 1.875rem;/* 30px */
  height: 3.75rem;/* 60px */
}

.notice-user .user-options a {
  line-height: 1.25rem;/* 20px */
  width: 1.25rem;/* 20px */
  display: inline-block;
  text-align: center;
  border: none;
  padding: 0;
  margin-top: .3125rem;/* 5px */
  background: transparent;
  cursor: pointer;
  float: right;
  margin-right: .4375rem; /* 7px */

}

.notice-content {
  width: 100%;
  height:auto;
  box-sizing: border-box;
}

.notice-content h3 {
  padding: .9375rem /*15px*/ .625rem /* 10px */ .9375rem /*15px*/ .625rem; /*15px*/
  text-align: center;
  vertical-align: middle;
}

.notice-content h3.title {
  margin-bottom: 1rem;
  text-align: center;
  height: auto;
}

.notice-content h4.title {
  margin-bottom: 1rem;
  text-align: center;
  height: auto;
  color: #555555;
}

.notice-content p.price {
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.35rem;
  color: #555555;
}

.notice-content p.price-value {
  font-size: 1.2rem;
  padding: 0px;
  text-align: center;
  line-height: 1.35rem;
  color: #555555;
}

.notice-content p.text {
  padding: .9375rem;/* 10px */
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.35rem;
  font-family: 'Tinos', serif;
  color: #555555;
}

.notice-options {
  height: 2.5rem;/* 40px */
  box-sizing: border-box;
}

.notice-options a i {
  font-size: 1.25rem;/* 20px */
  text-align: center;
  padding: 0;
}

.notice-options a.btn-like {
  margin-left: 1.25rem;/* 20px */
  line-height: 2.5rem;/* 40px */
  font-size: .8rem;
  color: rgb(120,120,120);
}

.notice-options a.btn-comment {
  margin-right: 1.25rem;/* 20px */
  float: right;
  line-height: 2.5rem; /* 40px */
  font-size: .8em;
  color: rgb(120,120,120);
}

.notice-options a.btn-love {
  float: none;
  margin: auto;
  display: block;
  text-align: center;
  line-height: 2.5rem; /* 40px */
  font-size: .8em;
  color: rgb(120,120,120);
}

.shop-image-box {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  height: 15rem;/* 240px */
  width: 100%;
}

.shop-image-box .shop-cover {
  position: relative;
  top: 0;
  left: 0;
  height: 15rem;/* 240px */
  width: 100%;
  box-sizing: border-box;
  transition: all 300ms ease;
}

.shop-image-box .shop-more {
  position: absolute;
  font-size:2rem;
  color: rgb(55, 55, 55);
  top: 6.2rem; /*104px*/
  left: 6.2rem; /* 104px; */
  width: 2rem;/* 32px */
  height: 2rem;/* 32px */
  display: none;
  transition: all 300ms;
  cursor: pointer;
  background-color: rgba(250,250,250, .6);
  border-radius: 2rem;
}
.shop-image-box:hover > .shop-more {
  display: block;
  transition: all 300ms ease;
}

.notice-shop {
  width: 100%;
  height:auto;
  padding: .625rem;/* 10px */
  box-sizing: border-box;
}

.stars {
  cursor: pointer;
}

.more-data {
  padding: 0;
  border: none;
}

.content-detail {
  box-sizing: border-box;
  padding: .625rem; /* 10px */
}

.content-detail h1,
.content-detail h3 {
  text-align: center;
}

.content-detail h1 {
  margin-top: .875rem; /* 15px */
  color: #2d2d2d;
  font-size: 2rem; /* 32px */
  line-height: 3rem; /* 48px */

}

.content-detail h3 {
  color: #555555;
  font-size: 1.25rem; /* 20px */
  line-height: 1.875rem; /* 30px */
  font-weight: 400;
}

.content-detail .content-divisor {
  height: 1.875rem; /* 30px */
  width: 100%;
  display: block;
  /*background: green;*/
}

.content-detail .content-divisor p {
  text-align: center;
  line-height: 1.875rem; /* 30px */
  letter-spacing: .625rem; /* 1px */
  color: #cccccc;
}

.content-detail p {
  font-family: 'Tinos', serif;
  max-width: 46.875rem;/* 750px; */
  margin: 0 auto;
  color: #464646;
  font-size: 1.375rem; /* 22px */
  line-height: 2rem; /* 32px */
  padding-top: 1.375rem;
  box-sizing: border-box;
}

.basket {
  /*background: beige;*/
  padding: 1.25rem;
  box-sizing: border-box;
}

.basket .basket-item {
  /*background: #f1b8e7;*/
  padding-top: .625rem;
  padding-bottom: .625rem;
  border-bottom: solid .0625rem /* 1px */ #DADADA;
}

.basket .basket-item-body {
  padding-top: 0;
}

.basket .basket-item p.header {
  display: block;
  background: rgb(245,245,245);
  color: rgb(130,130,130);
  padding: .3125rem; /* 5px */
  text-align: left;
  width: 100%;
  font-size: .75rem; /* 12px */
  font-weight: 400;
}

.basket .basket-item p.header span {
  text-align: right;
  float: right;
  font-weight: bold;
}
.basket .basket-item p.header a {
  float: right;
  margin-right: .3125rem; /* 5 px*/
  font-weight: bold;
  color:#31708F;
  transition: all 600s linear;
  -moz-transition: all 600s linear;
  -webkit-transition: all 600s linear;

}

.basket .basket-item p.header a:hover {
  text-decoration: underline;
}

.basket .basket-item p.header span.pending {
  color:#8A6D3B;
}
.basket .basket-item p.header span.waiting {
  color:#31708F;
}
.basket .basket-item p.header span.completed {
  color:#3C763D;
}
.basket .basket-item p.header span.canceled {
  color:#A94442;
}

.basket .basket-item .item-image {
  /*background: greenyellow;*/

  /*height: 15rem; *//* 240px; */
  /*width: 100%;
  z-index: -1;
  display: block;
  transition: all 300ms ease;*/
}

.basket .basket-item .item-image img {
  /*height: 15rem;*//* 240px */
  max-width: 9rem;
  margin: 0 auto;
  width: 100%;
  display: block;
}

.basket .basket-item .item-content {
  /*background: olive;*/
}


.basket .basket-item .item-content h3 {
  padding: .9375rem /*15px*/ .625rem /* 10px */ .9375rem /*15px*/ .625rem; /*15px*/
  text-align: left;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.link-title-sale {
  color: #555555;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 300ms ease;
}

.link-title-sale:hover {
  color: #009688;/*#1F9963;*/
}

.basket .basket-item .item-content h3.title {
  margin-bottom: 1rem;
  text-align: left;
  height: auto;
}

.basket .basket-item .item-content h4.title {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: left;
  height: auto;
  color: #555555;
}

.basket .basket-item .item-content p.price {
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.35rem;
  color: #555555;
}

.basket .basket-item .item-price {

}

.basket .basket-item .item-controllers {

}

.basket .basket-item .item-controllers a {
  line-height: 9.375rem;
  padding: .625rem;
}



@media only screen and (max-width: 950px) {
  .column-half {
    width: 98%;
    margin-top: .625rem; /* 10px */

  }

  .column {
    margin-top: .625rem; /* 10px */
  }

  .column-little {

    width: 31%;
    margin: 1%;
  }

}


@media only screen and (max-width: 37.5rem/* 600px */) {
  header .nav-center {
    display: none;
  }

  .notice-image img {
    height: 8.75rem;/* 140px */
  }

  .notice-image {
    height: 8.75rem;/* 140px */
  }
  .shop-image-box,
  .shop-image-box .shop-cover{
    height: 8.75rem;/* 140px */
  }

  .shop-image-box .shop-more {
    top: 3.75rem; /*50px*/
  }

  .column-little {
    width: 48%;
    margin: 1%;
  }
  .basket {
    padding: 0;
  }
}

@media only screen and (max-width: 26.25rem/* 420px */) {
  .column-little {
    width: 94%;
    margin: 3%;
  }
}

/* Use with Masonry*/
.grid {
  width: 100%;
  height: 100%;
  display: table;
}
.grid-item {
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px #dadada;
}
/* Use with Masonry*/


.tiny-chip .md-chips md-chip {
  height: 1.25rem;
  line-height: 0.9375rem;
  margin: .25rem .25rem 0 0;
  padding: 0 .625rem;
}

/*form image*/
.form-image .feed-profile-picture {
  width: 7.5rem;/* 120px */
  height: 7.5rem;/* 120px */
  display: block;
  float: left;
  margin: auto;
  border-radius: .25rem;/* 4px */
  background: #FFFFFF;
  border:solid .0625rem/* 1px */#DADADA;
  box-sizing: border-box;
}
.form-image .feed-profile .feed-profile-picture img {
  width: 6.875rem;/* 110px */
  height: 6.875rem;/* 110px */
  margin: .25rem;/* 4px */
  border-radius: .125rem;/* 2px */
}

.form-image .feed-profile .feed-profile-username {
  float: left;
  box-sizing: border-box;
  display: block;
  margin-left: .625rem;/* 10px */
}

.form-image .feed-profile .feed-profile-username p {
  color: #555555;
  margin-top: .625rem;/* 10px */
}

.form-image .feed-profile .feed-profile-username p.name {
  font-weight: bolder;
}

.form-image .feed-profile .feed-profile-username input {
  margin-top: 10px;
}
/*form image*/


/* User info*/
.user-feed {
  padding-right: .625rem;/* 10px */
  padding-left: .625rem;/* 10px */
  box-sizing: border-box;
}

.user-feed .feed-profile {
  box-sizing: border-box;
  padding: .625rem;/* 10px */
  margin: auto;
}

.user-feed .feed-profile .feed-profile-picture {
  width: 7.5rem;/* 120px */
  height: 7.5rem;/* 120px */
  float: left;
  margin: auto;
  border-radius: .25rem;/* 4px */
  background: #FFFFFF;
  border:solid .0625rem/* 1px */#DADADA;
  box-sizing: border-box;
}
.user-feed .feed-profile .feed-profile-picture img {
  width: 6.875rem;/* 110px */
  height: 6.875rem;/* 110px */
  margin: .25rem;/* 4px */
  border-radius: .125rem;/* 2px */
}

.user-feed .feed-profile .feed-profile-username {
  box-sizing: border-box;
  display: block;
  margin: auto;
  margin-left: .625rem;/* 10px */
}
.user-feed .feed-profile .feed-profile-username p {
  color: #555555;
  margin-top: .625rem;/* 10px */
}

.user-feed .feed-profile .feed-profile-username p.name {
  font-weight: bolder;
}

.user-feed .feed-profile .feed-profile-options {
  float: left;
  box-sizing: border-box;
  display: block;
  width: 10rem;/* 160px */
  padding-top: .625rem;/* 10px */
  margin-left: .625rem;/* 10px */
}
.user-feed .feed-profile .feed-profile-options a.btn-following,
.user-feed .feed-profile .feed-profile-options a.btn-followers {
  font-weight: 400;
  color: #555555;
  cursor: pointer;
  display: block;
  padding-top: .3125rem;/* 5px */
  font-size: .7em;
}

.user-feed .feed-profile .feed-profile-options a.btn-stars {
  font-weight: 600;
  color: #555555;
  cursor: pointer;
  display: block;
  padding-top: .625rem;/* 5px */
  font-size: .8em;
}

.user-feed .feed-profile .feed-profile-options a.btn-following:hover,
.user-feed .feed-profile .feed-profile-options a.btn-followers:hover {
  color: rgb(10,10,10);
  font-weight: 500;
}

.user-feed .feed-profile .feed-profile-options a.btn-following.active,
.user-feed .feed-profile .feed-profile-options a.btn-followers.active,
.user-feed .feed-profile .feed-profile-options a.btn-stars.active{
  color: rgb(10,10,10);
  font-weight: 500;
  text-decoration: underline;
}

.user-feed .feed-profile  a.btn-follow {
  margin-top: .9375rem;/* 15px */
  min-width: 4.6875rem;/* 75px */
}

.user-feed .feed-profile-controls {
  width: 100%;
  box-sizing: border-box;
  padding-top: .625rem;/* 10px */
}

.user-feed .feed-profile-controls ul li{
  width: 100%;
}

.user-feed .feed-profile-controls ul li a {
  color: rgb(32,32,32);
  display:block;
  padding-left: 1.25rem;/* 20px */
  text-align: left;
  line-height: 2.1875rem;/* 35px */
  transition: all 300ms ease;
}

.user-feed .feed-profile-controls ul li a:hover {
  color: #1F9963;
}

.user-feed .feed-profile-controls ul li a.active {
  color: #1F9963;
}


@media only screen and (max-width: 37.5rem /* 600px */) {
  header .nav-user {
    width: 15rem; /* 240px; */
  }

  .user-feed .feed-profile .feed-profile-picture {
    float: none;
    margin: auto;
  }

  .user-feed .feed-profile .feed-profile-username {
    width: 100%;
    float: none;
    margin: auto;
  }

  .user-feed .feed-profile .feed-profile-options {
    float: none;
    margin: auto;
  }

  .user-feed .feed-profile .feed-profile-username p {
    color: #555555;
    margin-top: .625rem;/* 10px */
    text-align: center;
  }

  .user-feed .feed-profile .feed-profile-options a.btn-following,
  .user-feed .feed-profile .feed-profile-options a.btn-followers {
    margin: auto;
    text-align: center;
  }

  .user-feed .feed-profile a.btn-follow {
    float: none;
    margin: .625rem auto auto;
    text-align: center;
  }

  .user-feed .feed-profile-controls ul li a{
    width: 100%;
    cursor: pointer;
    margin: auto;
    text-align: center;
    padding:0;
  }
}
/* User info*/


/* User follow */
.follow-grid {
  width: 100%;
  display: table;
  margin: auto;
  padding-left: .625rem;/* 10px */
  padding-right: .625rem;/* 10px */
  box-sizing: border-box;
}

.follow-grid ul {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.follow-grid ul li {
  margin: .125rem;/* 2px */
  display: inline-block;
  float: left;
}

.follow-item {
  display: table-cell;
  height: 7.5rem;/* 120px */
  min-width: 7.5rem;/* 120px */
  float: left;
}

.follow-item .follow-user p {
  margin-top: .625rem;/* 10px */
}

.follow-item .follow-user img {
  position: relative;
  margin: .4375rem;/* 7px */
  width: 2.8125rem;/* 45px */
  height: 2.8125rem;/* 45px */
  border-radius: 2.5rem;/* 40px */
  box-sizing: border-box;
}


/* User follow*/


/* md-tabs color*/
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: rgb(0, 150, 136) !important;
  background-color: rgb(0, 150, 136) !important;
}
/* md-tabs color*/
