<section class="navigator"
         id="NavRight"
         ng-style="$root.__showLinks ? { 'right': 0 } : { 'right': '-15.625rem'}">
  <h4>
    <a href="#/dashboard" class="link-default">{{ $ctrl.User.name }}</a>
  </h4>
  <div class="divisor">

  </div>
  <ul>
    <li><a href="#/dashboard">Perfil</a></li>
    <li><a href="#/following">Seguindo</a></li>
    <li><a href="#/followers">Seguidores</a></li>
  </ul>
  <div class="divisor">

  </div>
  <ul>
    <li><a href="#/">Criar Página</a></li>
    <li><a href="#">Minhas Páginas</a></li>
  </ul>
  <div class="divisor">

  </div>
  <ul>
    <li><a href="#">Criar Grupo</a></li>
    <li><a href="#">Meus Grupos</a></li>
  </ul>
  <div class="divisor">

  </div>
  <ul>
    <li><a href="#">Preferências</a></li>
    <li><a href="#">Configurações</a></li>
    <li><a href="#">Sair</a></li>
  </ul>
  <div class="divisor">

  </div>
  <ul>
    <li><a href="#">Termos</a></li>
    <li><a href="#">Ajuda</a></li>
  </ul>

</section>
