<header>
  <div class="nav-button"
       id="btnMenu"
       ng-click="$ctrl.btnShowUserMenu()">
    <a class="menu-button" >
      <i class="fa fa-bars fa-lg" aria-hidden="true" style="color: rgb(32,32,32)"></i>
    </a>
  </div>
  <div class="nav-center">
    <p ng-bind="$root.__Title"></p>
  </div>
  <div class="nav-user"
       id="navDescUser"
       ng-style="$ctrl.showSearch ? { 'width': $ctrl.navSize() } : { 'width': '15.625rem'}"
    >
    <div class="nav-user-config"
         id="nav-user-config"
         ng-click="$ctrl.btnSearch()">
      <a class="btn-search"
         id="btnSearch">
        <i class="fa fa-search"
           ng-class="{ 'fa fa-times' : $ctrl.showSearch,
                       'fa fa-search': !$ctrl.showSearch}"
           id="icoSearch" aria-hidden="true"></i>
      </a>
    </div>

    <div class="nav-user-desc"
         id="btnUser"
         ng-click="$ctrl.btnShowLinks()"
         ng-style="$ctrl.showSearch ? { 'width': $ctrl.btnUserSize() } : { 'width':
            $ctrl.User._id == '-' ? '13.6rem' : '9.375rem'
          }"
      >
      <input class="animate-show-hide"
             ng-if="$ctrl.showSearch"
             ng-style="$ctrl.showSearch ? { 'width': $ctrl.txtSearchSize } : { 'width':
            $ctrl.User._id == '-' ? '13.6rem' : '9.375rem'
          }"
             id="txtSearch"
             name="txtSearch"
             type="text"
             placeholder="Pesquisar" />
      <p class="animate-show-hide"
         ng-show="!$ctrl.showSearch"
         id="txtUsername"
         ng-bind="$ctrl.User.name"></p>
    </div>
    <div class="nav-user-picture"
         id="btnUserPic"
         ng-if="$ctrl.User._id !== '-'"
         ng-click="$ctrl.btnUserNotify()">
      <!--<div class="notify">&nbsp;</div>-->
      <img ng-src="{{ $ctrl.User.cover_image || './static/images/no-image.png' }}" />
    </div>
  </div>
</header>
