<section class="navigator" id="NavLeft"
         ng-style="$root.__showUserMenu ? { 'left': 0 } : { 'left': '-15.625rem'}"
  >
  <div class="header">
    <div class="header-user">
      <div class="header-user-picture">
        <img ng-src="{{$ctrl.User.picture}}" />
      </div>
      <div class="header-user-desc">
        <p class="user" ng-bind="$ctrl.User.name"></p>
        <p class="username" ng-bind="$ctrl.User.username"></p>
      </div>
    </div>
  </div>
  <div class="nav-menu">
    <nav>
      <ul>
        <li><a href="#/">Feed</a></li>
        <li><a href="#">Publicações</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Salvos</a></li>
        <li><a href="#">Grupos</a></li>
        <li><a href="#">Ranking</a></li>
        <li><a href="#">Negócios</a></li>
        <li><a href="#">Leituras</a></li>
        <li><a href="#">Em Alta</a></li>
      </ul>
    </nav>
  </div>
</section>
