<section class="navigator" id="NavLeft"
         ng-init="$ctrl.init()"
         ng-style="$root.__showUserMenu ? { 'left': 0 } : { 'left': '-15.625rem'}">
  <div class="header">
    <div class="header-user"
         ng-show="$ctrl.User._id !== '-'">
      <div class="header-user-picture">
        <img
          ng-src="{{ $ctrl.User.cover_image  }}" />
      </div>
      <div class="header-user-desc">
        <p class="user"
           ng-bind="$ctrl.User.name"></p>
        <p class="username" ng-bind="$ctrl.User.username_link"></p>
      </div>
    </div>
  </div>
  <div class="nav-menu">
    <nav>
      <ul>
        <li><a href="#/">Loja</a></li>
        <li><a href="#/feed"
               ng-show="$ctrl.User._id !== '-'">Feed</a></li>
        <li><a ng-href="#/written/{{ $ctrl.User.username }}"
               ng-show="$ctrl.User._id !== '-'">Minhas Publicações</a></li>
        <li><a ng-href="#/user/{{ $ctrl.User.username }}?tab=1"
               ng-show="$ctrl.User._id !== '-'">Biblioteca</a></li>
        <li><a href="#">Grupos</a></li>
        <li><a href="#">Ranking</a></li>
        <li><a href="#">Negócios</a></li>
        <li><a href="#">Leituras</a></li>
        <li><a href="#/trending">Em Alta</a></li>
      </ul>
    </nav>
  </div>
</section>
